* { 
    outline: 2px solid red;
}

body { 
    margin: 0;
    border: 0;
    height: 100vh; 
}

.MainPage { 
    margin: 0;
    border: 0;
    height: auto;
    display: grid;
    grid-template-columns: minmax(200px, 0.7fr) 2fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}


/*Header Div + Styles*/
.HeaderSection { 
    grid-row: 1;
    grid-column: span 2;
    display: grid;
    grid-template-columns: minmax(200px, 0.7fr) 2fr;
    grid-template-rows: 1fr;
    height: 75px;
    width: auto;
}

.WelcomeBox { 
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.WelcomeHeader { 
    padding: 0;
    margin: 0;
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    background: none;
    font-size: auto;
    justify-self: start;
}

/*Side Bar Div + Styles*/
.SideBarSection { 
    grid-column: span 1;
    grid-row: 2 / span 3;
}


/*Main Content Divs + Styles (All are off unless a option is pressed otherwise)*/
section[class] { 
    grid-row: 3;
    grid-column: 2;
}

/*Footer Div + Styles*/
.FooterSection {
    grid-row: 4;
    grid-column: span 2;
    height: 75px;
    width: auto;
}