* { 
    outline: 2px solid red;
}

/* Paragraph Font */
@font-face { 
    font-family: ParagraphFont; 
    src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

/* Header Font */
@font-face { 
    font-family: HeaderFont;
    src: url(../fonts/Louis\ George\ Cafe.ttf);
}


body { 
    margin: 0;
    border: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.MainPage { 
    font-family: ParagraphFont;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: minmax(200px, 0.7fr) minmax(200px, 2fr);
    grid-template-rows: 75px 1fr 1fr 75px
}


/*Header Div + Styles*/
.HeaderSection { 
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: minmax(200px, 0.7fr) 2fr;
    height: 75px;
    width: auto;
}

.WelcomeBox { 
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    
}

.WelcomeHeader { 
    font-family: HeaderFont, "sans-serif";
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    background: none;
    font-size: auto;
    justify-self: start;
}

/*Side Bar Div + Styles*/
.SideBarSection { 
    grid-column: span 1;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: minmax(200px, 400px);
    grid-template-rows: repeat(3, minmax(100px, 300px))
}

/* Side Bar sections + Styles */
.DashBoardNav, 
.CreateNav,
.ProjectsNav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 75px);
    padding: 5px;
}

.SideBarSection > nav > button { 
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 20px;
    font-family: ParagraphFont;
    color: black;
    background: none;
    max-width: 200px;
    height: 25px;
    cursor: pointer;
    text-align: left;
}



/*The Div that holds all Main Content (Temporarily until changed) */
.TemporaryContent { 
    grid-row: 2 / span 2;
    grid-column: span 2;
    width: auto;
    height: auto;
}


/*Main Content Divs + Styles (All are off unless a option is pressed otherwise)
section[class] { 
  
}
*/
/*Footer Div + Styles*/
.FooterSection {
    grid-row: 4;
    grid-column: 1 / span 2;
    height: 75px;
    width: auto;
}